html{

}
body {
font-size: 12px;
line-height: 1.3;
color: #000;
font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
margin: 0;
padding: 0;
min-width: 500px;
}

a {
text-decoration: none;
color: #3B5998;
}
a:link,
a:visited {
text-decoration: none;
}
a:hover,
a:active {
border-bottom:1px dotted #000;
color: #000;
}
p {
padding-bottom: 12px;
line-height: 18px;
}
strong {
font-weight: bold;
}
em {
font-style: italic;
}

h1 {
font-size: 182%;
}

h2 {
font-size: 140%;
}

h3 {
font-size: 100%;
}

h4 {
font-size: 80%;
}

fieldset {
    border: 0;
    margin-bottom: 10px;

}

fieldset textarea {
    width: 100%;
    height: 300px;
    padding: 2px;
}

fieldset label, fieldset input {
width: 150px;
float: left;
}

fieldset label {
text-align: right;
width: 75px;
padding-right: 20px;
}

fieldset input {
 border: #666 solid 1px;
 padding: 1px;
 color: #666;
}

fieldset input:hover{
    background: #eef;
    color: #000;
}

fieldset button {
 margin: 0 0 0 15px;
 border: #666 solid 1px;
 padding 2px;
 background: #efefef;
 color: #666;
}

fieldset button:hover{
 border: #000 solid 1px;
 background: #666;
 color: #fff;
 font-weight:bold;
}

fieldset.checks {
    margin: 0 0 50px 0;
}

fieldset.checks input {
    display: block;
    clear: both;
}

fieldset.checks label {
    text-align:left;
    width: auto;
    margin: 0 0 0 20px;
}
.register-form fieldset,
.login-form fieldset
{
    width: 300px;
}
.register-form fieldset button,
.login-form fieldset button 
{
    margin: 0 0 0 130px;
}

ul {
    list-style: none;
}

li:before {
    content: "\00BB \0020";
}


dl dt {
    font-weight: bold;
}

.global-header {
    background: #ccc;
    color: #333;
    border-bottom: #333 solid 8px;
    padding: 10px;
    margin:0pt;
}

.global-header a {
color:#999;
text-decoration: none;
}

.global-search{
    float:right;
    width: 250px;
    padding: 0;
    margin: 5px 0 0 0;
}
.global-header a:hover,
.global-header a:active {
border-bottom:1px dotted #666;
color:#666;

}

.global-content img {
  max-width:400px;
  width: expression(this.width > 400 ? 400: true);
}

.global-content {
    padding: 5px 30px 5px 30px;
    margin: 0;
}

.global-footer {
    padding: 20px;
}

.global-content form {
   width: 80%;
}

ul.pagination {
    font-size: 93%;
    margin: 16px 0;
    padding:0;
    list-style-type:none;
}
ul.pagination li {
    display:inline;
    margin:0;
    padding:0;
    color: #ccc;
}
ul.pagination li:before{
    content: '';
}
ul.pagination li span.inactive,
ul.pagination li a,
ul.pagination li a:link,
ul.pagination li a:visited{
    text-decoration: none;
    padding: 2px 5px;
    text-align: center;
    margin: 0 1px;
}
ul.pagination li span.inactive {
    color: #ccc;
}
ul.pagination li span.inactive.page_gap {
    font-weight:bold;
}
ul.pagination li a:hover {
    background-color: #e0edfb;
    border: 1px solid #c0d0f0;
    border-color: #c0d0f0 #90a0f0 #90a0f0 #c0d0f0;
    padding: 1px 4px;
}
ul.pagination li a.selected,
ul.pagination li a.selected:hover{
    border:1px solid #999;
    font-weight:bold;
    color:#000;
    background:transparent;
    padding:1px 4px;
}
ul.pagination li.first {
    border-right:1px solid #999;
    padding-right:2px;
}
ul.pagination li.last {
    border-left:1px solid #999;
    padding-left:2px;
}


.scratchpad-matches{
    margin: 0pt 0pt 0pt 20px;
    color: #C03;
}

.scratchpad-nav {
    padding: 10px 30px 10px 10px;
    margin: 10px;
    float: right;
    border: #666 solid 1px;
}

.scratchpad-comments {
    padding:50px;
    width: 50%;
    font-size: 90%;

}
.scratchpad-breadcrumbs {
    font-size: x-small;
    margin-left:5px;
}